li {
    font-size: 0.6em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: black;
    min-width: 200px;
  }
  
  li > img {
    margin-bottom: 1em;
    height: 65%;
  }
  
  .deal-price {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }