.nav {
  background-color: #131921;
  display: flex;
  align-items: center;
  height: 70px;
  position: sticky;
  top: 0;
  z-index: 10;
  padding: 5px 10px 0px 10px;
}

.logo {
  width: 100px;
  margin: 5px 10px 0px 10px;
  object-fit: contain;
  padding: 5px;
}

.nav-search {
  display: flex;
  flex: 1;
  height: 100%;
  align-items: center;
}

.search-bar {
  height: 60%;
  padding: 10px;
  border: none;
  flex: 1;
  border-radius: 3px 0 0 3px;
}

.search-icon {
  background-color: rgb(169, 176, 214);
  padding: 5px !important;
  height: 60% !important ;
  width: 50px !important;
  border-radius: 0 3px 3px 0;
  margin-top: -7px;
  cursor: pointer;
}

@media (max-width: 599px) {
  .header > .header-links {
    display: none;
  }
  .search-icon {
    margin-right: 20px;
  }
  .logo {
    width: 60px;
  }
}
@media (min-width: 600px) {
  .header .header-links {
    display: flex;
  }
  .drawer-btn {
    display: hidden;
  }
}
.nav-link {
  color: white;
  text-decoration: none;
  padding: 5px;
}
.nav-link-options {
  margin: 0 5px;
  display: flex;
  flex-direction: column;
}

.nav-link-option-top {
  font-size: 10px;
  font-weight: 400;
}

.nav-link-cart {
  display: flex;
  margin: 0 5px;
}

.nav-link:hover,
.logo:hover {
  border: 1px solid white;
}
