.deals-container {
  width: 100vw;
  height: 40vh;
  padding: 2.2em;
  position: relative;
}
.deals-carousel {
  padding: 1.2em 0.8em 0.8em 0.8em;
  font-size: 1.3em;
  background-color: white;
  color: rgb(53, 52, 52);
}

ul {
  display: flex;
  overflow-x: scroll;
}

.scroller {
  position: absolute;
  top: 60%;
  cursor: pointer;
  width: 35px;
  height: 100px;
  background-color: rgba(255, 255, 255, 0.74);
  box-shadow: 0px 0px 10px 0px grey;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  color: rgb(32, 32, 32);
}

.left-scroller {
  left: 35px;
}

.right-scroller {
  right: 35px;
}

li {
  /* margin-right: 1em; */
  font-size: 0.6em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: black;
}

li > img {
  margin-bottom: 1em;
  height: 65%;
}

.deal-time {
  color: rgb(153, 153, 153);
}
