.header {
  background-color: #131921;
  display: flex;
  align-items: center;
}

.logo {
  width: 100px;
  margin: 5px 10px 0px 10px;
  object-fit: contain;
}

.header-search {
  display: flex;
  flex: 1;
}

.search-bar {
  height: 12px;
  padding: 10px;
  border: none;
  width: 100%;
}
.search-icon {
  background-color: rgb(169, 176, 214);
  padding: 5px !important;
  height: 22px !important ;
}
